<ul class="list-inline text-center">
  <% ["andreas", "amanda"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "img-circle avatar-quite-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
